<app-job-search></app-job-search>
<a *ngFor="let job of jobService.jobs" [routerLink]="['/job', job.id]">
  <div class="job-adv">
    <h2 class="job-title">{{ job.name }}</h2>
    <p class="job-level">Level: {{ job.levels[0].name }}</p>
    <p class="job-location">Locations: {{ job.locations[0].name }}</p>
    <p class="publication-date">Published: {{ job.publication_date }}</p>
  </div>
</a>
<div class="buttons">
  <button
    id="previous-page"
    (click)="
      jobService.getJobs(
        jobSearchService.getLevelFromSelect(),
        jobSearchService.previousPage()
      )
    "
    disabled
  >
    Previous Page
  </button>
  <button
    class="next-page"
    (click)="
      jobService.getJobs(
        jobSearchService.getLevelFromSelect(),
        jobSearchService.nextPage()
      )
    "
  >
    Next Page
  </button>
</div>
